# Secrets - NE JAMAIS COMMITER
secrets/age-keys.txt
secrets/age-keys.txt.pub

# Fichiers temporaires
*.swp
*.swo

# Build artifacts
/.direnv
/.envrc

# Home-manager
.home-manager-backup-*

# Nix
/nix/
result/

# Flake
.flake/
